<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>iRecommend</h1>
        <h4>The easier way to share recommendation letters</h4>
        <nav>
          <ul>
            <li>
              <a href="/sessions/login"><button>Login</button></a>
            </li>
            <li>
              <a href="/sessions/register"><button>Register</button></a>
            </li>
            <%# <li>
              <a href="/sessions/logout"><button>Log Out</button></a>
            </li>%>
          </ul>
        </nav>

      </header>
      <div>
        <ul>
          <li>
            <a href="/recommendations"><button>Recommendations</button></a>
          </li>
          <%# <li>
            <a href="/recommenders"><button>Recommenders</button></a>
          </li>%>
          <li>
            <a href="/recommendations/new"><button>Write a recommendation</button></a>
          </li>
          <li>
            <a href="/recommendations/request"><button>Request a recommendation</button></a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
