<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css">
	</head>
	<body>
		<header>
			<h1>Recommendations</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/recs/new">Write a new recommendation</a>
					</li>
				</ul>
			</nav>
		</header>
    <main>
			<h2>List of Recommendations you've made</h2>
			<ul>
				<% for(let i = 0; i < recs.length; i++){ %>
					<li>
						<a href="/recs/<%=recs[i]._id%>"><%=recs[i].title%></a><br/>

					</li>
				<% } %>
			</ul>
		</main>
	</body>
</html>
