<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css">
	</head>
	<body>
		<header>
			<h1>Write a recommendation</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
          <li>
						<a href="/recommendations">Recommendations Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<form action="/recommendations" method="post">
        <select name="userId">
          <% for(let i = 0; i < users.length; i++) { %>
          <option value="<%=users[i]._id%>"><%=users[i].username%></option>
          <% } %>
        </select><br/>
				I am recommending: <input type="text" name="recommendeename" /><br/>
        Title: <input type="text" name="title" placeholder="Title"><br/>
				Recommendation: <textarea name="content"></textarea><br/>
        Date: <input type="text" name="date" placeholder="DD/MM/YY"><br/>
        <input type="submit" value="Publish Recommendation"/>
			</form>
		</main>
	</body>
</html>
