<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="stylesheet" href="/css/app.css">
<br>
<h1>iRecommend</h1>
<br>
<br>
<form action="/sessions/login" method="POST">
   <input type="text" name="username" value="">
   <input type="password" name="password" value="">
   <button>Login</button><br/>
   or <br/>
   <a href="/sessions/register">Register for an account</a>
</form>

<% if(message) { %>
  <%= message %>
<% } %>

<a href="/">Home</a>
