<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="stylesheet" href="/css/app.css">
<br>
<h1>iRecommend</h1>
<br>
<br>
<form action="/sessions/registration" method="POST">
   Username: <input type="text" name="username" value=""><br/>
   Password: <input type="password" name="password" value=""><br/>
   Profile photo: <input type="text" name="photo">
   <button>Register</button><br/>
</form>
<a href="/">Home</a>
